.background-image-header

.title-area
  %h3
    Novelist

.profile-button
  = link_to "Your Profile", sign_out_path, class: 'button small radius'

.signout-button
  = link_to "Sign Out", sign_out_path, class: 'button alert small radius'

.search-bar
  = form_tag("/books/search", method: "get") do 
    .form-group
    = text_field_tag :book_title, nil, :placeholder => "Search by title or country", class: "form-control"

.search-button
  = button_tag "Search", class: "button small radius"
